<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')  }}">
    </head>
    <body class='pane'>
        <h1>Please confirm item deletion</h1>
        <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method='POST'>
            <p>Restaurant: {{restaurant.name}}</p>
            <p>Item to be deteled: {{item.name}}</p>
            <input type='submit' value='Delete'>
            <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id )}}">Cancel</a>
        </form>
    </body>
</html>
