<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')  }}">
    </head>
    <body class='pane'>
        <h1> Edit Menu Item for {{restaurant.name}}</h1>
        <form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method='POST'>
            <p>Name:</p>
            <p><input type='text' size='100' name='name' placeholder='{{item.name}}'></p>
            <p>Description:</p>
            <p><input type='text' size='100' name='description' placeholder='{{item.description}}'></p>
            <p>Price:</p>
            <p><input type='text' size='100' name='price' placeholder='{{item.price}}'></p>
            <div>
                <input type='submit' value='Edit'>
                <a href="{{url_for('restaurant_menu', restaurant_id=restaurant.id )}}">Cancel</a>
            </div>
        </form>
    </body>
</html>
